{% load static %}
<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Bilge Korkut (Çocuklar İçin AR Teknolojisi Uygulaması){% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shizuru&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/ARWebProject/style.css">
</head>

<body>
    <main>
        {% block content %}{% endblock %}
    </main>

    <script src="../../static/ARWebProject/script.js"></script>
</body>

</html>