{% load static %}
<nav>
    <div class="navbar-container">
        <div class="navbar-left">
            <div class="navbar-logo">
                <div class="navbar-logo-border"></div>
                <div class="navbar-logo-content">
                    <div class="front-logo" style="font-family:'Shizuru', cursive">bk</div>
                    <span class="navbar-logo-logo-bottom-text">𝕂𝕠𝕣𝕜𝕦𝕥 𝕋𝕙𝕖 𝕎𝕚𝕤𝕖</span>
                </div>
                <span class="navbar-logo-bottom-text">The universe of Korkut the wise</span>
            </div>
            <span class="app-name">Korkut the Wise</span>
        </div>

        <div class="navbar-right">
            <div class="navbar-download" onclick="startDownload('en', 'android')">
                <label class="navbar-download-label">
                    <input type="checkbox" class="navbar-download-input" />
                    <span class="navbar-download-circle"><svg class="navbar-download-icon" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="1.5" d="M12 19V5m0 14-4-4m4 4 4-4"></path>
                        </svg>
                        <div class="navbar-download-square"></div>
                    </span>
                    <p class="navbar-download-title">Download</p>
                    <p class="navbar-download-title">Open</p>
                </label>
            </div>

            <ul class="navbar-github">
                <li class="navbar-github-icon">
                    <a href="https://github.com/hypynnax/AR-Mobil-Uygulamasi" aria-label="GitHub" data-social="github">
                        <div class="navbar-github-filled"></div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-github" viewBox="0 0 16 16" xml:space="preserve">
                            <path
                                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"
                                fill="currentColor"></path>
                        </svg>
                    </a>
                    <div class="navbar-github-tooltip">GitHub</div>
                </li>
            </ul>

            <label class="language-select">
                <input type="checkbox" id="language-select" checked />
                <div class="checkmark">
                    <p class="TR name">TR</p>
                    <p class="EN name">EN</p>
                </div>
            </label>

            {% if session_active %}
            <div class="out-btns">
                <button class="out" onclick="logout()">Log Out</button>
            </div>
            {% else %}
            <div class="sign-btns">
                <button class="sign" id="sign-in">Sign In</button>
                <button class="sign" id="sign-up">Sign Up</button>
            </div>
            {% endif %}
        </div>
    </div>
</nav>