{% extends 'ARWebProject/baseTr.html' %}
{% load static %}
{% block title %}Misyonumuz{% endblock %}
{% block content %}
{% include 'ARWebProject/navbarTr.html' %}

<body>
    <video autoplay muted loop class="background-video">
        <source src="../../static/ARWebProject/img/background.mp4" type="video/mp4">
    </video>

    <div class="terminal-loader" style="margin-top: 200px;">
        <div class="terminal-header">
            <div class="terminal-title">Misyonumuz</div>
            <div class="terminal-controls">
                <div class="control close"></div>
                <div class="control minimize"></div>
                <div class="control maximize"></div>
            </div>
        </div>

        <div class="terminal-text">
            Misyonumuz, çocukların dijital dünyada yaratıcı düşünme, problem çözme ve bilişim teknolojilerine hâkim olma
            yeteneklerini artırarak onları geleceğin bilinçli bireyleri haline getirmektir. Arttırılmış gerçeklik (AR)
            teknolojisini kullanarak eğlenceli ve interaktif bir öğrenme deneyimi sunuyoruz. Teknolojiyi daha
            erişilebilir ve anlaşılır hale getirerek çocukların hayal gücünü ve bilişim becerilerini geliştirmeyi
            amaçlıyoruz.
        </div>
    </div>

    <footer class="footer" style="position: fixed; bottom: 0; left: 0;">
        {% include 'ARWebProject/footerTr.html' %}
    </footer>

    <script src="../../static/ARWebProject/script.js"></script>
</body>

</html>
{% endblock %}